@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background: #101010;
  --foreground: #ededed;
  --backContainer1: #121212;
  --backContainer3: #000000;
  --border-color: #2e2d2d8c;
  --border-color2: #2727278c;
  --backContainer2: #050505;
  --shadow:black;
  --br: 15px;

  --link: rgb(136, 136, 136);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #161616;
    --foreground2:rgb(48, 47, 47)6;
    --background: #ededed;
    --backContainer1: #e6e2e2;
    --backContainer2: #d6d6d6;
    --backContainer3: #fff;
    --border-color: #5a5a5a8c;
    --border-color2: #4747478c;
    --shadow: rgba(48, 47, 47, 0.301);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  color: var(--foreground);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease;
  color: rgb(136, 136, 136);
}

a:hover {
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.stanContainer1 {
  background-color: var(--backContainer2);
  box-shadow: var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;

  input {
    padding: 10px;
    outline: none;
    background-color: var(--backContainer3);
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color2);
    border-radius: var(--br);
  }

  button {
    padding: 10px;
    outline: none;
    background-color: var(--backContainer1);
    cursor: pointer;
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color2);
    border-radius: var(--br);
  }
}
.stanContainer2{
  width: 60%;
  background-color: var(--backContainer2);
  box-shadow: var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    a{
      margin-right: 10px;
    }
  }
  div{
    padding: 10px;
    background-color: var(--backContainer2);
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color);
    border-radius: 10px;
  }
  span{
    font-size: 16px;
    font-weight:700;
  }
  p{
    margin-left: 10px;
  }
}


.centerContainer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.hoverMega {
  transition: 0.2s ease;
}

.hoverMega:hover {
  transform: translateY(-10px);
}

.stanForm1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  h1 {
    text-align: center;
  }

  span {
    font-size: 11px;
    text-align: center;
  }
}

.msgContainer {
  background-color: var(--backContainer2);
  box-shadow: var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: 0.2s;
}

.AnimaAppear1 {
  animation: 0.7s ease-out Appear1;
}


@keyframes Appear1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }

  25% {
    opacity: 1;
    transform: translate(-50%, -30%);
  }

  50% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}