@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background: #101010;
  --foreground: #ededed;
  --backContainer1: #121212;
  --backContainer2: #050505;
  --backContainer3: #000000;
  --border-color: #2e2d2d8c;
  --border-color2: #2727278c;
  --shadow: black;
  --br: 15px;
  --link: rgb(136, 136, 136);
}

.light {
  --foreground: #161616;
  --background: #ededed;
  --backContainer1: #e6e2e2;
  --backContainer2: #d6d6d6;
  --backContainer3: #ffffff;
  --border-color: #5a5a5a8c;
  --border-color2: #4747478c;
  --shadow: rgba(48, 47, 47, 0.301);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  color: var(--foreground);
}

h1,h2,h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease;
  color: rgb(136, 136, 136);
}

a:hover {
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.centerItemsColls{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  text-align: center;
}

.stanFull1{
  width: 90%;
  max-width: 500px;
}
.stanContainer1 {
  background-color: var(--backContainer2);
  box-shadow: 2px 3px 3px var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;
}


.stanFull2{
  width: 80%;
  height: 80%;
  max-width: 800px;
}
.stanContainer2{
  background-color: var(--backContainer2);
  box-shadow: 2px 2px 10px var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  form{
    height: 100%;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    a{
      margin-right: 10px;
    }
  }
  @media (max-width:900px) {
    header{
      display: flex;
      flex-direction: row;
      padding: 10px;
      font-size: 13px;
      a{
        margin-right: 10px;
      }
    }
  }
  div{
    padding: 10px;
    background-color: var(--backContainer2);
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color);
    border-radius: 10px;
  }
  span{
    font-size: 16px;
    font-weight:700;
  }
  p{
    margin-left: 10px;
  }
}


.centerContainer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.hoverOpac{
  transition: 0.2s ease;
}
.hoverOpac:hover{
  background-color: var(--backContainer2);
}

.modal{
  animation:Appear1 0.7s ease-in-out;
  box-shadow: 0px 10px 30px var(--shadow);
}
.hoverMega {
  transition: 0.2s ease;
}

.hoverMega:hover {
  transform: translateY(-10px);
}

.stanForm1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  input {
    padding: 10px;
    outline: none;
    background-color: var(--backContainer3);
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color2);
    border-radius: var(--br);
    width: 100%;
  }
  textarea{
    width: 100%;
    padding: 10px;
    position: relative;
    outline: none;
    background-color: var(--backContainer3);
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color2);
    border-radius: var(--br);
    resize: none;
    height: 100%;
  }

  button {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--backContainer1);
    cursor: pointer;
    box-shadow: var(--shadow);
    border: 2px solid var(--border-color2);
    border-radius: var(--br);
  }
  h1 {
    text-align: center;
  }

  span {
    font-size: 11px;
    text-align: center;
  }
}

.msgContainer {
  background-color: var(--backContainer2);
  box-shadow: var(--shadow);
  border: 2px solid var(--border-color);
  border-radius: var(--br);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: 0.2s;
}

.AnimaAppear1 {
  animation: 0.7s ease-out Appear1;
}
.AppearBottomBar{
  animation: AppearBottomBar 0.5s  ease-in-out;
}

@keyframes AppearBottomBar {
  from {
    opacity: 0;
    transform: translateY(40%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);

  }
}


@keyframes Appear1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }

  25% {
    opacity: 1;
    transform: translate(-50%, -30%);
  }

  50% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.AnimaAppear2 {
  animation: 0.3s ease-out Appear2;
}


@keyframes Appear2 {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
        transform: scale(1);

  }
}

.full{
  width: 90%;
  max-width: 800px;
  height: 90%;
}